@use '@style/colors.scss';
@use '@style/breakpoint.scss';

main {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 30%;
    background-image: url('../../assets/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition: width .35s linear, height .35s linear;
  }
}

main.is-active {
  &:after {
    width: 100%;
  }
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .credit-card {
    color: colors.$white;
    width: 448px;
    height: 248px;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 32px;
    position: relative;

    &:first-of-type {
      //margin-left: 6.5rem;
      margin-left: 20%;
    }

    &:last-of-type {
      //margin-left: 10.5rem;
      margin-left: 30%;
    }

    .credit-card-content {
      margin-top: 3.5rem;

      .credit-card-number {
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 4px;
      }

      .credit-card-info {
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 0.85rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .credit-card-cvc {
      position: absolute;
      right: 52px;
      top: 45.5%;
      letter-spacing: 1.5px
    }
  }
}

.right {
  width: 50%;
  padding: 4.5%;
  transform: translateX(0px);
  transition: transform .35s linear;
  visibility: unset;

  form {
    max-width: 24rem;

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 8px;
        font-size: 13px;
        letter-spacing: 1.5px;
        color: colors.$very-dark-violet;
        font-weight: 500;
      }

      // TODO: 會有不同的 status 要處理（e.g. active, error）
      input {
        border: 1px solid colors.$light-grayish-violet;
        border-radius: 4px;
        line-height: 1.5px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;

        &::placeholder {
          font-family: inherit;
          color: colors.$dark-grayish-violet;
        }

        &:focus {
          border: 1px solid transparent;
          outline: 1px solid colors.$linear-gradient;
        }

      }

      small {
        display: inline-block;
        margin-top: 8px;
      }
    }

    .form-group.is-error {
      input {
        border: 1px solid colors.$red;
      }

      small {
        color: colors.$red;
      }
    }

    .form-multiple {
      display: flex;
      align-items: center;
      /* gap: 1rem; */
      justify-content: space-between;

      .form-group {
        width: 45%;

        &:last-of-type {
          width: 50%;
        }
      }

      .form-multiple-inputs {
        display: flex;
        gap: 0.75rem;
      }
    }

    button {
      width: 100%;
      margin-top: 1rem;
      padding: 15px 20px;
      font-size: 18px;
      font-family: inherit;
      background-color: colors.$very-dark-violet;
      color: colors.$white;
      border: none;
      border-radius: 6px;
    }
  }

}

.right.is-active {
  transform: translateX(100%);
  visibility: hidden;
}

@media screen and (max-width: breakpoint.$medium-pc) {
  .left {
    .credit-card {
      //color: colors.$white;
      //width: 448px;
      //height: 248px;
      //background-position: center center;
      //background-repeat: no-repeat;
      //padding: 32px;
      //position: relative;

      &:first-of-type {
        //margin-left: 6.5rem;
        //margin-left: 20%;
        margin-left: 10%;
      }

      &:last-of-type {
        //margin-left: 10.5rem;
        //margin-left: 30%;
        margin-left: 16%;
      }
    }
  }
}

@media screen and (max-width: breakpoint.$small-pc) {
  .left {
    gap: 0;
    .credit-card {
      transform: scale(.85);

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        //margin-left: 10.5rem;
        //margin-left: 30%;
        margin-left: 0;
      }

    }
  }
}


@media screen and (max-width: breakpoint.$mobile) {
  main {
    display: block;
    overflow-y: unset;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30%;
      width: 100%;
      content: "";
      background-image: url('../../assets/images/bg-main-mobile.png');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  main.is-active {
    overflow-y: hidden;
    &:after {
      height: 100%;
    }

    .right {
      visibility: hidden;
      //display: none;
    }
  }

  .right.is-active {
    transform: translateY(100%);
  }

  .left,
  .right {
    width: auto;
  }

  .left {
    flex-direction: column-reverse;
    position: relative;

    .credit-card {
      transform: scale(0.75);
      &:first-of-type {
        z-index: 1;
        position: absolute;
        left: 10%;
        top: 40%;
      }

      &:last-of-type {
        position: relative;
        left: 22%;
        bottom: 15px;
      }
    }
  }

  .right {
    form {
      margin-top: 8%;
      width: 100%;
      max-width: none;

      .form-group {
        label {
          font-size: 14px;
        }

        input {
          &::placeholder {
            font-weight: 500;
          }
        }
      }
    }
  }
}


@media screen and (max-width: breakpoint.$small-mobile) {
  main {
    &:after {
      height: 20%;
    }
  }

  .left {
    flex-direction: column-reverse;
    position: relative;

    .credit-card {
      transform: scale(0.5);
      &:first-of-type {
        z-index: 1;
        position: absolute;
        left: -5%;
        top: 8%;
      }

      &:last-of-type {
        position: relative;
        left: 13%;
        bottom: 50px;
      }
    }
  }

  .right {
    form {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: breakpoint.$super-small-mobile) {
  .left {

    .credit-card {
      &:first-of-type {
        z-index: 1;
        position: absolute;
        left: -15%;
        top: 8%;
      }

      &:last-of-type {
        position: relative;
        left: 1%;
        bottom: 50px;
      }
    }
  }
}
